.container {}

body {
  color: #434455;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  width: 1440px;
  height: 3300px;
  max-width: 1440px;
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 24px;
  margin-bottom: 100px;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container_header {
  display: flex;
  width: 1158px;
  text-align: center;
  height: 72px;
  height: 72px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.menu {
  display: flex;
  gap: 40px;

}

.container_face {
  height: 600;
  margin: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.container_advantages {}

.menu-adv {
  display: flex;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.li_adv {
  width: calc((100% - 72px) / 4)
}

.container_our_team {}

.container_our_portfolio {}

.container_footer {}

.images {}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

}

.logo-part {
  color: #2e2f42
}

.nav-menu {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

}

a {
  text-decoration: none;
}

a:hover {
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
}

h1,
h2,
h3,
p {
  box-sizing: border-box;
}

.adress_all {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.face {
  background-color: #2e2f42;

}

.name {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: auto;

}

.button {

  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  display: block;
  margin: 48px 635px;
}

button:hover {
  background-color: #404BBF;
}

button:focus {
  background-color: #404BBF;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;

}

.p_advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section {
  background-color: #F4F4FD;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list {
  background-color: #FFFFFF;
}

.our_team {
  background-color: #FFFFFF;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.p_footer {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}