*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {

  width: 1158px;

  padding: 0 15px;
  margin: 0 auto;
}

body {
  color: #434455;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container_header {
  display: flex;
  text-align: center;
  height: 72px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.nav-menu {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 48px;
}

.nav-menu:hover,
.nav-menu:focus {
  color: #404bbf;
}

.nav-menu-blue {
  color: #404bbf;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-blue::after {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  content: '';
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.adress_all {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;

}

.address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.face {
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  max-width: 1440px;
  margin: 0 auto;
}



.name {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: auto;
  margin-bottom: 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  min-height: 56px;
  display: block;
  margin: 0 auto;
  transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #404BBF;
}

button:focus {
  background-color: #404BBF;
}

.adv {
  padding-top: 120px;
  padding-bottom: 120px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.menu-adv {
  display: flex;
  gap: 24px;
}

.li_adv {
  width: calc((100% - 72px) / 4);
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  padding: 24px 100px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background: #F4F4FD;
  margin-bottom: 8px;
}



.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;

}

.p_advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

.our_team {
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}

.list_our_team {
  display: flex;
  gap: 24px;
  text-align: center;
}

.list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.identify {
  padding-top: 32px;
  padding-bottom: 32px;
}


.images {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;

}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list_icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.ellipse {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding: 12px 12px 12px 12px;
}

.link_section {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link_section:hover {
  background-color: #404bbf;
}

.link_section:focus {
  background-color: #404bbf;
}

.traling_icons {
  fill: #F4F4FD;
}

.our_portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container_our_portfolio {
  width: 1128px;
}

.list_portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project_card {
  display: block;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project_card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.box:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images:hover .overlay {

  transform: translatey(0);

}

.overlay code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #2a2a2a;
}





.card_content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text {
  display: block;

  margin-right: 120px;

}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;

}

.footer-ul {
  display: flex;
  gap: 16px;
}

.ellipse {
  width: 40px;
  height: 40px;

}

.logo_f {
  display: inline-block;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.logo-footer {
  color: #f4f4fd;

}

.p_footer {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.link_footer {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_footer:hover {
  background-color: #31d0aa;
}

.link_footer:focus {
  background-color: #31d0aa;
}