.Main-Page{ 
    font-family: Roboto;
    width: 1440px;
    height: 2060px;
    opacity: 100%;
    background-color: #E5E5E5;
    stroke: #000000;
    
}
.Top Line{

    width: 1440px;
    height: 72px;
    opacity: 100%;
    }
    .logo-WEB{
        width: 115px;
        height: 24px;

    }